h1, h6{
    color: royalblue;
}

[attribute=h5] {
    color: rgb(150,75,0);
}

/*Sections*/
.sections h2 {
    color: #FF0000;
    font-family: Arial, Helvetica, sans-serif;
}

.sections li {
    margin: 0 0 1cm 0;
    display: inline-block;
    background-color: aquamarine;
    height: 50px;
    width: 0.8in;
}

.sections li#agenda {
    position: absolute;
    top: 428px;
    left: 535px;
}

.sections li:hover {
    color: purple;
}

/*Attendance*/
.attendance {
    border-style: dashed;
    border-color: coral;
    border-width: 1em;
    border-radius: 1.5ch;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.attendance h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.attendance h4 {
    color: hsl(89, 100%, 27%);
    text-decoration: underline;
}

.attendance ol#present {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
}

.attendance ol#absent {
    display: grid;
    grid-template-columns: repeat(4, 100px [col-start]);
    grid-template-rows: repeat(4, 30px [col-start]);
    column-gap: 10px;
    row-gap: 10px;
}

.attendance li {
    min-width: none;
    max-width: none;
}

/*Agenda*/
.agenda ol li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: magenta;
}

.agenda h2 {
    font-style: italic;
    color: brown;
}

/*Unfinished Business*/
.unfinishedbusiness h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
}

.unfinishedbusiness p {
    font-style: oblique;
}

/*Feedback Survey*/
form {
    background-color: aliceblue;
}

button:hover {
    color: purple;
}